  .body-component-a {
    background: url("../../../src/images/wood-top.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.imageone {
  width: 10px;
  height: 10px;
  
}

#recipeCard {
  border-color: 1px, solid, black;
}

ul {
  list-style: none;
}
/* #overflow {
  overflow: hidden;
  display: none;
} */
#beerName {
  color:rgb(130, 219, 157);
  text-align: center;
}
/* #displayImage {
  float: right;
  padding-left: 40px;
} */

/* .frameWork {
  border: 4px,solid,red;
} */

#spanSearch {
  margin-left: 10px;
}

#handleForm {
  margin-left: 30px;
}

.Mwords {
  color: blanchedalmond;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.styles_modal__gNwvD {
  background: rgb(141, 180, 96);
  
}

#modalBtn {
  margin: 0 auto;
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
}
#modalBtn:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
#modalBtn:active {
  border-top-color: #1b435e;
   background: #1b435e;
}